body {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	color: $primary;
	font-family: Nunito Sans;
	font-size: 16px;
	font-weight: 400;
	line-height: 150%;
	background: linear-gradient(140deg, #e4e7fb 4.06%, #d7dcfa 100%);
}

.wrapper {
	min-height: 100vh;

	display: flex;
	flex-direction: column;

	overflow: hidden;

	border-radius: 32px;
	background: #fff;
}

.main {
	flex-grow: 1;
	padding-bottom: 80px;
	@media screen and (max-width: 992px) {
		padding-bottom: 30px;
	}
	@media screen and (max-width: 768px) {
		padding-bottom: 20px;
	}
}

.container {
	margin: 0 auto;

	max-width: 1050px;
	width: 100%;
	padding: 0 15px;
}

// on open some modals
.disable-scroll {
	overflow: hidden !important;
}

// Border on hover
.border-bottom-line {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		left: 0;
		bottom: -6px;

		height: 1px;
		width: 100%;

		background: #000;
		border-radius: 5px;
		transform: scaleX(0);
		transition: transform 250ms ease-in-out;

		// transform-origin: right bottom;
		transform-origin: center;
	}

	@include hover {
		&::before {
			transform: scaleX(1);
			// transform-origin: left bottom;
		}
	}
}

.visually-hidden {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}

.logo {
	display: block;
	flex-shrink: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #2538a6;
	font-family: Nunito Sans;
}
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
}

h1 {
	font-size: 52px;
	font-weight: 800;
	line-height: 169.231%;
	letter-spacing: -1.04px;
}

h2 {
	font-size: 44px;
	line-height: 113.636%;
	letter-spacing: -0.88px;
}

h3 {
	font-size: 32px;
	line-height: 131.25%;
	letter-spacing: -0.64px;
}

h4 {
	font-size: 24px;
	line-height: 125%;
	letter-spacing: -0.48px;
}

h5 {
	font-size: 22px;
	line-height: 118.182%;
	letter-spacing: -0.44px;
}

h6 {
	font-size: 18px;
	line-height: 155.556%;
	letter-spacing: -0.36px;
	text-transform: uppercase;
}
