//Burger Colors
$burgerColor: #222;
$burgerActiveColor: #fff;

// Medias
$large: 1200px;
$medium: 992px;
$small: 768px;

// z-index
$burgerIndex: 4;
$mobileMenuIndex: 3;
$overlayIndex: 2;

// Colors

$primary: #6a677d;
$blue: #3c48ae;
$orange: #ff4104;
$milk-gradient: linear-gradient(140deg, #e4e7fb 4.06%, #d7dcfa 100%);
