<!-- <header class="header">
	<div class="header__container container">
		<a href="#" class="logo"><img src="" alt="logo" /></a>

		<div class="mobile-menu">
			<nav>
				<ul class="menu">
					<li>
						<a href="#" class="menu__link border-bottom-line">Home</a>
					</li>
					<li>@include('./assets/layout/components/dropdown.html')</li>
					<li>
						<a href="#" class="menu__link border-bottom-line">About</a>
					</li>
					<li>
						<a href="#" class="menu__link border-bottom-line">Contact</a>
					</li>
				</ul>
			</nav>
		</div>

		<button class="burger">
			<span></span>
		</button>
	</div>
</header> -->

<header class="header">
	<div class="container header__container">
		<a href="#" class="logo">
			<img
				width="297"
				height="54"
				src="./assets/img/logo.svg"
				alt="site logo"
			/>
		</a>
		<div class="header__actions">
			<a class="header__link">FAQ</a>
			<a class="header__link header__link--help">get help now</a>
		</div>
	</div>
</header>
