<section class="hero">
	<div class="hero__container container">
		<h1 class="hero__title">Welcome to Happy Family Store</h1>
		<p class="hero__text">
			Our pharmacy is a full-service, family-friendly store serving the
			community. We have many years of experience behind our backs and are
			developing dynamically. Our pharmacists are experts who handle every
			request with the utmost care and professionalism.
		</p>
		<p class="hero__text">
			Happy Family Store allows you to conveniently order medications and make
			refills from home, making it an ideal choice for those who have a busy
			lifestyle. We provide families with personalized service and convenient
			delivery to their doorsteps. Our drugstore promises that our medication
			prices are on par or more advantageous than what the majority of our
			competitors offer.
		</p>

		<div class="hero-content">
			<div class="hero-info">
				<div class="hero-info__wrapper">
					<div class="hero-info__title">
						<img src="./assets/img/hero-title.svg" aria-hidden="true" />
					</div>
					<div class="hero-info__items">
						<div>
							<img src="./assets/img/link1.svg" aria-hidden="true" />
						</div>
						<div>
							<img src="./assets/img/link2.svg" aria-hidden="true" />
						</div>
						<div>
							<img src="./assets/img/link3.svg" aria-hidden="true" />
						</div>
						<div>
							<img src="./assets/img/link4.svg" aria-hidden="true" />
						</div>
						<div>
							<img src="./assets/img/link5.svg" aria-hidden="true" />
						</div>
					</div>
				</div>
			</div>
			@include('./assets/layout/components/categories.html')
			<!-- @include('components/categories.html') -->
		</div>

		<div class="cards hero__cards">
			<div class="card">
				<div class="card__top">
					<div class="card__img">
						<img
							src="https://images.unsplash.com/photo-1682687982141-0143020ed57a?auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHx8&w=500"
							alt=""
						/>
					</div>
					<div class="card-info">
						<div class="card-info__title">Generic Viagra</div>
						<div class="card-info__subtitle">Sildenafil</div>
					</div>
				</div>
				<div class="card__body">
					<div class="card-price">
						<div class="card-price__num">$0.33</div>
						<div class="card-price__count">per item</div>
					</div>
				</div>
				<div class="card__bottom">
					<a href="#" class="card-link">choose package</a>
				</div>
			</div>
			<div class="card">
				<div class="card__top">
					<div class="card__img">
						<img
							src="https://images.unsplash.com/photo-1682687982141-0143020ed57a?auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHx8&w=500"
							alt=""
						/>
					</div>
					<div class="card-info">
						<div class="card-info__title">Cialis</div>
						<div class="card-info__subtitle">Tadalafil</div>
					</div>
				</div>
				<div class="card__body">
					<div class="card-price">
						<div class="card-price__num">$0.98</div>
						<div class="card-price__count">per item</div>
					</div>
				</div>
				<div class="card__bottom">
					<a href="#" class="card-link">choose package</a>
				</div>
			</div>
			<div class="card">
				<div class="card__top">
					<div class="card__img">
						<img
							src="https://images.unsplash.com/photo-1682687982141-0143020ed57a?auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHx8&w=500"
							alt=""
						/>
					</div>
					<div class="card-info">
						<div class="card-info__title">Kamagra</div>
						<div class="card-info__subtitle">Sildenafil</div>
					</div>
				</div>
				<div class="card__body">
					<div class="card-price">
						<div class="card-price__num">$1.24</div>
						<div class="card-price__count">per item</div>
					</div>
				</div>
				<div class="card__bottom">
					<a href="#" class="card-link">choose package</a>
				</div>
			</div>
			<div class="card">
				<div class="card__top">
					<div class="card__img">
						<img
							src="https://images.unsplash.com/photo-1682687982141-0143020ed57a?auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHx8&w=500"
							alt=""
						/>
					</div>
					<div class="card-info">
						<div class="card-info__title">Clomid</div>
						<div class="card-info__subtitle">Clomiphen</div>
					</div>
				</div>
				<div class="card__body">
					<div class="card-price">
						<div class="card-price__num">$0.47</div>
						<div class="card-price__count">per item</div>
					</div>
				</div>
				<div class="card__bottom">
					<a href="#" class="card-link">choose package</a>
				</div>
			</div>
		</div>
	</div>
</section>
