.header {
	padding-top: 30px;
	padding-bottom: 30px;

	@media screen and (max-width: 992px) {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	// .header__container

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media screen and (max-width: 992px) {
			justify-content: stretch;
		}
	}

	// .header__actions

	&__actions {
		@media screen and (max-width: 992px) {
			margin-left: auto;
			margin-right: 20px;
		}
		@media screen and (max-width: 450px) {
			margin-right: 10px;
			gap: 10px 10px;
		}
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 16px 16px;
	}

	// .header__link

	&__link {
		padding: 17px 20px;
		@media screen and (max-width: 992px) {
			padding: 12px 10px;
			font-size: 12px;
		}

		color: $blue;
		font-size: 16px;
		font-weight: 600;
		line-height: normal;
		text-transform: uppercase;
		cursor: pointer;
		background-color: #fff;
		border-radius: 8px;
		border: 1px solid rgba(37, 56, 166, 0.12);
		user-select: none;
		text-decoration: none;
		@include hover {
			color: #fff;
			background-color: rgb(148, 148, 224);
		}
		&:active {
			scale: 0.97;
		}
		transition:
			background-color 300ms ease-in-out,
			color 300ms ease-in-out,
			opacity 300ms ease-in-out;
	}

	// .header__link--help

	&__link--help {
		position: relative;
		border: none;
		@media screen and (max-width: 992px) {
			height: 42px;
			width: 48px;
			span {
				display: none;
			}
		}
		&::before {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 12px;
			width: 30px;
			@media screen and (max-width: 992px) {
				left: 8px;
			}
			height: 30px;
			background-image: url('../img/headphones.png');
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
		}
		@include hover {
			opacity: 0.8;
		}

		padding: 18px 20px 18px 62px;

		background: linear-gradient(
			266deg,
			#e0e3fb -0.23%,
			rgba(224, 227, 251, 0.57) 98.56%
		);
	}
}
.container {
}
.logo {
	display: block;
	flex-shrink: 0;
	@media screen and (max-width: 992px) {
		width: 220px;
	}
	@media screen and (max-width: 450px) {
		width: 130px;
	}
}
@media screen and (max-width: 992px) {
	.navbar {
		.menu {
			.menu-item {
				border-bottom: 1px solid rgba(224, 227, 251, 0.57);
				background-color: transparent;
				border-radius: 0;
			}
		}
		.sub-menu {
			background-color: rgba(255, 255, 255, 0.1);
			.menu-item {
				border: none;
			}
		}
	}
}
